---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SectionContainer from "@/components/SectionContainer.astro";
import SEO from "@/components/seo/SEO.astro";
import { Icon } from "astro-icon";
import { SOCIALS } from "@config";

const currentYear = new Date().getFullYear();

const {
    class: className,
    title,
    description,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
    </head>
    <body>
        <main class={className}>
            <slot />
        </main>

        <SectionContainer class="mt-32">
            <footer class="py-40 bg-neutral-50">
                <div class="wrap-sm mx-auto px-8 grid gap-16">
                    <p
                        class="text-neutral-500 font-medium text-3xl md:text-5xl lg:text-4xl leading-10 tracking-wide lg:tracking-wide"
                    >
                        If you want to know more about tweaking my style, adding
                        more posts, and making it truly yours, just click on the
                        GitHub link below to check out my repo.
                    </p>
                    <div class="footer-credits text-neutral-500">
                        <a
                            class="block text-1g font-medium mb-2 md:mb-8 lg:mb-4 leading-10 tracking-wide relative hover:underline hover:-top-0.5 hover:text-skin-accent hover:text-black focus-visible:p-1"
                            href="mailto:hey@astrolane.com"
                        >
                            ABOUT
                        </a>
                         / 
                        <a
                            class="block text-1g font-medium mb-2 md:mb-8 lg:mb-4 leading-10 tracking-wide relative hover:underline hover:-top-0.5 hover:text-skin-accent hover:text-black focus-visible:p-1"
                            href="mailto:hey@astrolane.com"
                        >
                            CONTACT
                        </a>
                    </div>
                    <span
                        class="text-neutral-500 text-md flex flex-wrap gap-4 md:gap-0 md:justify-between"
                    >
                        <span>Copyright © {currentYear} INM</span>
                        <a class="" target="_blank" href="">
                            Privacy Policy.
                        </a>
                    </span>
                </div>
            </footer>
        </SectionContainer>
    </body>
</html>
